.contenedor{
    height: 210.509033px;
    width: 328px;
    left: 629px;
    display: flex;
    top: 311px;
    border-radius: 4.7364616394px;
    flex-direction: column;
    justify-content: space-around;
    
}

.titulo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1.0176px;
    color: #000000;
}
