
        mat-divider{
            position: inherit;
            border-top-width: 2px;
            width: 100%;

        }
        .download-button{
            
            display: flex;
            justify-content: center;
            margin-top: 76px;

            height: 46px;
            width: 100%;

            button{
                width: 263px;
            }
        }