.main {
    min-height: calc(100vh - 56px);
    padding: 16px;

    .card {
        padding-top: 48px;

        @media(min-width: 1440px) {
            width: 511px;
            padding-left: 30px;
            padding-right: 30px;
        }  

        .form {
            width: 100%;
            margin: 24px;


            .submit-button {
                margin: 16px 0;
                height: 55px;
            }

        }
    }
}