@import "/src/assets/scss/variables.scss";

::ng-deep .mat-dialog-container{
   // padding: 0;
}
.mat-dialog-content {
    max-width: 638px;
    padding: 0;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 13px;
    @media only screen and (max-width : $responsive-mobile){
        padding-left: 30px;
        padding-right: 30px;
    }

    
}

.mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding-bottom: 38px;
    padding-top: 30px;
    @media only screen and (max-width : $responsive-mobile){
        gap: 20px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    button{
        font-weight: 600;
        font-size: 16px;
        margin: 0;
    }
}