@import "/src/assets/scss/variables.scss";

.full-width-table{
  padding-left: 10px;
}

.tituloConsulta{
    margin-top: 40px;
}
@media only screen and (max-width : $responsive-mobile){
    .tituloConsulta{
        margin-left: 20px;
    }
}

app-table ::ng-deep .table-sticky-wrapper [mat-table] {
    min-width: 1000px !important;
    }
