:host {
    display: block;
}

table {
    width: 100%;
}

table th {
    padding-left: 8px;
    padding-right: 8px;
}

table td {
    padding-left: 8px;
    padding-right: 8px;
}

.full-width{
    width: 100%;
}
