<app-layout-general>
    <contenido class="main" fxLayout.gt-md="row" fxLayoutAlign="center center">
        <mat-card class="card" fxLayout="column" fxLayoutAlign="start center">
            <h2>Cambiar contraseña</h2>

            <form [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between" class="form" [autocomplete]="false" (ngSubmit)="submit()">
                
                <mat-form-field *ngFor="let campo of campos" fxFlex="100" fxFlex.gt-md="100" appearance="outline">
                    
                    <mat-label>{{ campo.titulo }}</mat-label>

                    <input [formControlName]="campo.nombre" matInput [type]="campo.ocultar ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="campo.ocultar = !campo.ocultar">
                        <mat-icon>{{campo.ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="error(campo.nombre)">
                        {{error(campo.nombre)}}
                    </mat-error>
                    
                </mat-form-field>
                
                <button fxFlex="100" class="submit-button borderRadius" color="primary" mat-raised-button  type="submit">Cambiar contraseña</button>

                <div *ngIf="mensaje" fxFlex="100" fxLayout="row" fxLayoutAlign="center">
                    <span class="mat-body-strong success">
                        {{mensaje}}
                    </span>
                </div>

                <div fxFlex="100" fxLayout="row" fxLayoutAlign="center">
                    <span class="mat-body-strong">
                        <a routerLink="/usuario/mis-datos">Salir</a>
                    </span>
                </div>

            </form>
        </mat-card>
    </contenido>
</app-layout-general>
