<div mat-dialog-content class="contenedor">
    <p class="titulo">¿Estas seguro de dar de baja el servicio?</p>
    <p class="subtitulo">Esta acción no se puede revertir</p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center" >
      <button  mat-stroked-button class="buttonBorder borderRadius" color="primary"  (click)="clickConfirm()">Si</button>
      <button  mat-raised-button class="button borderRadius" color="primary" (click)="clickReject()">No</button>
</div>

  